@charset "UTF-8";

* {

   font-family: Arial, Helvetica, sans-serif;

}


body, html {

    background-color: aqua;

}

header {

    background-color: beige;

}


header > h1 {

    padding: 10px;
    text-align: center;

}


i#burguer {

    background-color: rgba(78, 15, 188, 0.889);
    color: rgb(211, 180, 240);
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}

 
i#burguer:hover {

    background-color: rgb(79, 15, 188);
    color: rgb(184, 225, 255);
    
}


menu {

    display: none;

}

menu  > ul {

    list-style-type: none;

}

menu  > ul  > li > a {

    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: black;
    color: azure;
    border-top: 2px solid rgb(63, 21, 145);
}


menu  > ul  > li > a:hover {

    background-color: rgb(0, 23, 116);
    
}

main {

   width: 90vh;
   background-color: aliceblue;
   margin: auto;
   margin-top: 10px;
   padding: 10px;
   border-radius: 10px;
    
}

article > h2 {

   text-align: justify;
   margin-bottom: 20px;
   text-indent: 20px;

}